@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a; /* Dark Navy Background */
  color: #f8fafc;
  font-family: 'Inter', sans-serif;
}